Source: wlanpi-wipry
Section: utils
Priority: optional
Maintainer: Adrian Granados <adrian@intuitibits.com>
Build-Depends: debhelper (>=9)
Homepage: https://github.com/WLAN-Pi/wlanpi-wipry

Package: wlanpi-wipry
Architecture: arm64 armhf
Multi-Arch: foreign
Depends: libusb-1.0-0,
         ${misc:Depends}
Description: WLAN Pi distribution of wipry_raw
 This package contains the 'wipry_raw' tool which allows you to dump spectral
 data from an Oscium WiPry Clarity spectrum analyzer.
